<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower rgba-white-strong">
            <div class="view view-cascade gradient-card-header"
                style="background-image: url(img/H4tz.gif); background-position: center;background-repeat: no-repeat;background-size: cover;">
                <h2 class="card-header-title">Đổi mật khẩu</h2>
            </div>
            <div class="card-body card-body-cascade p-5">
                <form name="frmChangPass">
                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="oldpassword"><strong>Mật khẩu
                                cũ</strong></label>
                        <input minlength="6" name="oldpassword" ng-model="oldpassword" type="password" id="oldpassword"
                            class="form-control border-primary" required>
                    </div>
                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="password"><strong>Mật khẩu
                                mới</strong> </label>
                        <input minlength="6" name="password" ng-model="password" type="password" id="password"
                            class="form-control border-primary" required>
                    </div>
                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix deep-purple-text"></i>
                        <label class="bg-white deep-purple-text rounded px-2 ml-5" for="renewpassword"><strong>Mật khẩu
                                mới (nhập lại)</strong> </label>
                        <input name="renewpassword" ng-model="renewpassword" type="password" id="renewpassword"
                            class="form-control border-primary" required re-pass>
                    </div>
                    <div class="text-center mt-4">
                        <button ng-click="changepassword(oldpassword,password,renewpassword)"
                            ng-disabled="frmChangPass.$invalid" class="btn btn-primary" type="button">Đổi mật
                            khẩu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>