<style>
    body {
        background-image: url(https://ap.poly.edu.vn/images/Banner-AP.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower">

            <div class="view view-cascade gradient-card-header"
                style="background-position: center;background-repeat: no-repeat;background-size: cover;">

                <h2 class="card-header-title" style="justify-content:center; display: flex;">Đăng ký</h2>
                <p style="justify-content:center; display: flex;">Đăng kí nếu bạn chưa có tài khoản</p>

            </div>

            <div class="container">

                <form name="frmRegister">
                    <div class="md-form md-outline">
                        <i class="fas fa-user prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="username"><strong>Tên đăng ký (tài
                                khoản)</strong></label>
                        <input name="username" ng-model="account.username" type="text" id="username"
                            class="form-control border-indigo" required minlength="6">

                    </div>

                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="password"><strong>Mật
                                khẩu</strong></label>
                        <input minlength="6" name="password" ng-model="account.password" type="password" id="password"
                            class="form-control border-indigo" required>

                    </div>

                    <div class="md-form md-outline">
                        <i class="fas fa-lock prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="repassword"><strong>Mật khẩu (nhập
                                lại)</strong> </label>
                        <input name="repassword" ng-model="repassword" type="password" id="repassword"
                            class="form-control border-indigo" required re-pass>
                    </div>

                    <div class="md-form md-outline">
                        <i class="fas fa-signature prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="fullname"><strong>Họ và tên</strong>
                        </label>
                        <input name="fullname" ng-model="account.fullname" type="text" id="fullname"
                            class="form-control border-indigo" required minlength="5">


                    </div>

                    <div class="md-form md-outline">
                        <i class="far fa-envelope prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="email"><strong>Email</strong></label>
                        <input name="email" type="email" id="email" class="form-control border-indigo" required>
                    </div>

                    <label class="bg-white indigo-text rounded px-2 ml-5" for=""> <i class="fas fa-transgender"></i>Giới
                        tính:</label>
                    <div class="form-check form-check-inline">
                        <input ng-model="account.gender" type="radio" class="form-check-input" id="true" name="gender"
                            value="true">
                        <label class="form-check-label indigo-text" for="gender">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input ng-model="account.gender" type="radio" class="form-check-input" id="false" name="gender"
                            value="false">
                        <label class="form-check-label indigo-text" for="gender2">Nữ</label>
                    </div>

                    <div class="md-form md-outline">
                        <i class="far fa-envelope prefix indigo-text"></i>

                        <label class="bg-white indigo-text rounded px-2 ml-5" for="birthday"><strong>Ngày
                                sinh</strong> </label>
                        <input name="birthday" ng-model="account.birthday" type="date" id="birthday"
                            class="form-control border-indigo" required>
                    </div>

                    <div class="text-center mt-4">
                        <button ng-click="createStudent()" type="button"
                            class="btn btn-indigo text-white btn-rounded btn-primary">Đăng ký
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>