<form action="" ng-show="account == null">
    <label for="username">username : </label>
    <input type="text" id="username" name="username" ng-model="username">
    <label for="mail">name : </label>
    <input type="text" id="name" name="name" ng-model="name">
    <button type="button" ng-click="forgot(username,name)">
        Get password
    </button>
</form>
<form action="" ng-show="account != null">
    <label for="newPassword">new password : </label>
    <input type="password" id="newPassword" name="newPassword" ng-model="newPassword">
    <label for="confirmPassword">confirm password : </label>
    <input type="password" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword">
    <button type="button" ng-click="change(newPassword,confirmPassword)">Change</button>
</form>