<div style="background-color: #fff;">
    <h2>Môn Học :</h2>
    <h4>Số Câu Hỏi : 10 câu</h4>
    <h4>Thời Gian Làm Bài : 15 Phút </h4>
    <h4>Thời Gian Còn lại : {{(remainingTime-remainingTime%60)/60}} Phút {{remainingTime%60}} giây </h4>
    <br>
    <hr>
    <h3>Danh sách câu hỏi</h3>
    <div class="row">
        
        <div class="col-6" ng-repeat="question in questions">
            <h3>{{question.Text}}</h3>
            <ul>
                <li ng-repeat="asw in question.Answers">{{asw.Text}}</li>
            </ul>
        </div>
       
    </div>
    
</div>