<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner slider-custom">
      <div class="carousel-item active">
        <img src="https://cdn.tgdd.vn/Files/2021/07/23/1370347/hoa-tu-dang-y-nghia-cong-dung-cach-trong-va-cham-soc-202107231759446602.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/locobee-cdn/image/upload/v1614414603/locobee-use-hoanemophila-2_hde4eu.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://toplist.vn/images/800px/hoa-sen-357164.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<h3>Danh sách môn học</h3>
<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for=""> Tìm Kiếm</label>
      <input type="text" ng-model="keyword" ng-keyup="changeKeyword()" placeholder=" tìm kiếm theo môn học">
    </div>
  </div>
</div>
<div class="row">
    <div class="col-3 mb-3" ng-repeat="sub in subjects">
        <div class="card" >
            <img src="lib/images/logos/{{sub.Logo}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{sub.Name}}</h5>
              <a href="#!/kiem-tra/{{sub.Code}}" class="btn btn-primary">Bài kiểm tra</a> <!-- thay "ID" bằng "Code"-->
            </div>
        </div>
    </div>
</div>